* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.top-nav-bar {
  height: 57px;
  top: 0;
  position: sticky;
  background: #ececec;
  margin-bottom: 20px;
  border-bottom: 3px solid #ff0505;
  z-index: 2;
}
.logo {
  height: 40px;
  margin: 5px 10px;
}
.form-control {
  margin-top: 9px;
  margin-left: 30px;
  border: 1px solid #ff0505 !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
}
.input-group-text {
  background: #ff0505 !important;
  border: 1px solid #ff0505 !important;
  margin: 8.5px 10px 3px 0 !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  cursor: pointer;
}
.search-box {
  display: inline-flex;
  width: 60%;
}

.fa-search {
  color: #fff;
}

.menu-bar {
  width: 40%;
  height: 57px;
  float: right;
}

.menu-bar ul {
  display: inline-flex;
  float: right;
}

.menu-bar ul li {
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: #ff0505;
  cursor: pointer;
}

.menu-bar ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.fa-shopping-basket {
  margin-right: 5px;
}

@media only screen and (max-width: 1245px) {
  .top-nav-bar {
    height: 118px;
    border-bottom: 0;
  }
  .search-box {
    width: 100%;
  }
  .menu-bar {
    width: 100%;
  }
  .menu-bar ul {
    margin: 10px 0;
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
  }
}
/*--------Šoninis meniu--------*/
.side-menu {
  height: 44%;
  width: 15%;
  font-size: 20px;
  float: left;
  z-index: 2;
  background-color: #ececec;
  border: 3px solid #ddd;
}
.side-menu ul {
  margin-left: 10px;
}

.side-menu ul li {
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
.side-menu ul li:hover {
  color: #000;
}

.side-menu ul a:hover {
  color: #000;
}

.side-menu ul li ul {
  display: none;
  z-index: 10;
  top: 77px;
}
.side-menu ul li:hover ul {
  display: block;
  height: 300px;
  margin-left: 13.5%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #ececec;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.side-menu a:hover {
  text-decoration: none;
}

.side-menu a {
  color: #000;
}

.side-menu ul li ul li:hover {
  color: #ff0505;
}
.fa-angle-right {
  margin-top: 4px;
  margin-right: 8px;
  float: right;
}

#menu-btn,
#close-menu-btn {
  font-size: 30px;
  margin: 10px;
  color: #ff0505;
  display: none;
}

@media only screen and (max-width: 1245px) {
  .side-menu {
    width: 34%;
    z-index: 20;
    top: 133px;
    position: fixed;
    font-size: 12px;
    display: none;
  }
  .side-menu ul li ul {
    top: 133px;
  }
  .side-menu ul li:hover ul {
    margin-left: 32%;
  }
  #menu-btn {
    display: block;
  }
}
/*--------Slider--------*/

.slider {
  width: 85%;
  margin-left: 15%;
  padding: 0 10px;
}

.carousel {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
  z-index: 1 !important;
}

@media only screen and (max-width: 980px) {
  .slider {
    width: 100%;
    margin-left: 0;
  }
}

/*-------Rodomos-kategorijos------*/

.featured-categories {
  margin: 50px 0;
}

.featured-categories img {
  width: 100%;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
}

.featured-categories img:hover {
  transform: scale(1.1);
}

/*-----Akcijos-----*/

.title-box {
  background: #ddd;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
}

.title-box h2 {
  font-size: 24px;
}

.title-box::after {
  content: "";
  border-top: 40px solid #ddd;
  border-right: 50px solid transparent;
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;
}

/*------product-top-----*/

.product-top img {
  width: 100%;
}

.overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}

.overlay-right .fa {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.overlay-right .btn-secondary {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.product-top:hover .overlay-right {
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}

.raudonas {
  color: red;
}

/*-----product-bottom-----*/

.product-bottom .fa {
  color: cornflowerblue;
  font-size: 10px;
}

.product-bottom h3 {
  font-size: 20px;
  font-weight: bold;
}

.product-bottom h5 {
  font-size: 15px;
  padding-bottom: 10px;
}

.new-products {
  margin: 50px 0;
}

/*--------footer--------*/

.footer {
  margin-top: 50px;
  background: #ececec;
  color: #000;
  font-weight: bold;
}

.footer h1 {
  font-size: 15px;
  margin: 25px 0;
  color: #ff0505;
}

.footer p {
  font-size: 12px;
}

.footer a {
  color: #000;
}

.footer a:hover {
  text-decoration: none;
  color: #ff0505;
}

.footer p:hover {
  color: #ff0505;
  cursor: pointer;
}

.copyright {
  margin-bottom: -80px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
}

.footer hr {
  margin-top: 10px;
  background-color: #ccc;
}

/*------Preke-----*/

.single-product {
  margin-top: 70px;
}

.prekes-akcija {
  width: 100px;
  color: red;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.col-md-7 h2 {
  color: #555;
}

.single-product .price {
  color: #ff0505;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}

.single-product input {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}

.single-product .btn-primary {
  background: #ff0505 !important;
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
  border: none;
  box-shadow: none !important;
}
/*-----Produkto aprasymas-----*/
.product-description h6 {
  margin-top: 50px;
  color: #555;
}

.product-description p {
  margin-top: 30px;
}

.product-description hr {
  margin-bottom: 50px;
}

/*------Apie-mus------*/
.apie-mus {
  margin-bottom: 100px;
}

.apie-mus h1 {
  text-align: center;
  margin-bottom: 70px;
}

/*------Pirkimo-taisykles-----*/
.pirkimo-taisykles {
  margin-bottom: 100px;
}

.pirkimo-taisykles h1 {
  text-align: center;
  margin-bottom: 70px;
}

/*------Kontaktai-------*/
.kontaktai {
  margin-bottom: 100px;
}

.kontaktai h1 {
  text-align: center;
  margin-bottom: 70px;
}

.kontaktai input[type="text"] {
  width: 250px;
}

.kontaktai input[type="button"] {
  background: #ff0505 !important;
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
  border: none;
  box-shadow: none !important;
}

.kontaktai textarea {
  height: 113px;
  width: 400px;
  margin: 0px 0px 5px;
}

.kontaktai a {
  color: #ff0505;
}

.kontaktai a:hover {
  text-decoration: none;
  color: #ff0505;
}

/*--------Privatumo-politika---------*/

.privatumo-politika {
  margin-bottom: 100px;
}

.privatumo-politika h1 {
  text-align: center;
  margin-bottom: 70px;
}
